# Ignorar entorno virtual
venv/
.venv/

# Ignorar archivos de caché y compilados
__pycache__/
*.pyc

# Ignorar archivos de configuración privada
.env

# Puedes agregar más si tienes archivos realmente privados
# El resto del proyecto se subirá completo
